@import '../../styles/variables';

.blob {
  position: absolute;
  top: -60%;
  width: 150%;
  z-index: -1;

  @media screen and (min-width: $breakpoint800) {
    top: -75%;
  }
  @media screen and (min-width: $breakpoint1200) {
    top: -100%;
    width: 170%;
  }

  &.yellow {
    fill: $yellow;
  }

  &.blue {
    fill: $blue;
  }

  &.pink {
    fill: $pink;
  }

  &.blobright {
    left: 0;
    transform: rotate(23deg);
  }

  &.blobleft {
    right: 0;
    transform: scale(-1, 1) rotate(23deg);
    
  }
}

.projectImage {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
  max-width: 700px;

  @media screen and (min-width: $breakpoint1200) {
    min-width: 550px;
    margin-bottom: 0px;
  }
}

.description {
  margin-bottom: 32px;
}