@import '../../styles/variables';

.blob {
  position: absolute;
  bottom: -180px;
  z-index: -1;

  &.yellow {
    fill: $yellow;
  }

  &.blue {
    fill: $blue;
  }

  &.pink {
    fill: $pink;
  }

  &.blobright {
    left: 0;
  }

  &.blobleft {
    right: 0;
    transform: scale(-1, 1);
  }
}

.projectDesktopImage {
  width: 100%;
  height: auto;
  @media screen and (min-width: $breakpoint800) {
    min-width: 550px;
  }
}
