.projectContainer {
  display: flex;
  align-items: center;
}

.projectContent {
  max-width: 600;
}

img {
  min-width: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  gap: 48px;
}