@keyframes fadeindown {
  0% {
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px)
  }

  to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}

@keyframes fadeoutup {
  0% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  to {
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(5px);
      transform: translateY(5px)
  }
}


@keyframes fadeinup {
  0% {
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(5px);
      transform: translateY(5px)
  }

  to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}

.fade-in-up {
  visibility: hidden;
  animation: fadeinup 250ms linear forwards;
}

.fade-in-down {
  visibility: hidden;
  animation: fadeindown 250ms linear forwards;
}

.fade-out-up {
  animation: fadeoutup 250ms linear forwards;
}

.animation-delay-350 {
  animation-delay: 350ms;
}

.animation-delay-450 {
  animation-delay: 450ms;
}