@import-normalize; /* bring in normalize.css styles */
@import './variables';

html {
  box-sizing: border-box;
  background-color: #F4C1F6;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: $fontPrimary;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-display: optional;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  &:link,
  &:active {
    color: $dark;
  }
  &:hover {
    color: $purple;
  }
}

#root {
  overflow: hidden;
}

input,
textarea,
button {
  padding: 10px 16px;
  width: 100%;
  border-radius: 8px;
  line-height: 20px;
}

input,
textarea {
  margin-bottom: 16px;
  border: 2px solid #e7e7e9;
  font-family: $fontPrimary;
  font-size: 0.9rem;
  
  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid $purple;
  }
}

button {
  background-color: $purpleAlt;
  color: $white;
  border: none;
  font-size: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.half {
  flex: 1 1 100%;

  @media screen and (min-width: $breakpoint800) {
    flex: 1 1 50%;
  }
}

.small-body {
  font-size: 1rem;
}

p,
.font-body {
  font-size: 1.1rem;
  line-height: 2.1rem;;
}

.section-padding {
  max-width: $maxContainerWidth;
  margin: 24px 48px;
}
