@import-normalize; /* bring in normalize.css styles */
@import './variables';

body {
  margin: 0;
  font-family: $fontPrimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 3.3rem;
  margin-top: 0;
}
