@import './variables';

.project-container {
  align-items: center;
  margin-bottom: 64px;

  @media screen and (min-width: $breakpoint800) {
    margin-bottom: 200px;
  }
}

.left-section,
.right-section {
  &.project-container {
    display: flex;
  }
  
  .project-display,
  .project-content {
    flex: 1 1 100%;

    @media screen and (min-width: $breakpoint800) {
      flex: 1 1 50%;
    }
  }
  
  .project-display {
    min-width: 0;

    img {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: 1;
    gap: 24px 48px;

    @media screen and (min-width: $breakpoint800) {
      grid-template-columns: repeat(2, minmax(0,1fr));
    }
  }
}

.right-section {
  flex-direction: column-reverse;
  
  @media screen and (min-width: $breakpoint800) {
    flex-direction: row;
  }

  .project-display {
    margin-left: 64px;
  }
}

.left-section {
  flex-direction: column-reverse;

  @media screen and (min-width: $breakpoint800) {
    flex-direction: row-reverse;
  }

  .project-display {
    direction: rtl;
    margin-right: 64px;
  }
}

.hero-section {
  display: flex;
  flex-direction: column-reverse;

  .project-display {
    width: 100%;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1;
    gap: 48px;


    @media screen and (min-width: $breakpoint800) {
      grid-template-columns: repeat(3, minmax(0,1fr));
    }
  }
}

.project-display {
  position: relative;
}
