$white: #fff;
$purple: #7047eb;
$purpleAlt: #8259fd;
$yellow: #fdc83c;
$dark: #363641;
$blue: #00ACFF;
$pink: #EC4C7D;

$fontPrimary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$maxContainerWidth: 1300px;

$breakpoint800: 800px;
$breakpoint1200: 1200px;