@import '../../styles/variables';

.contentContainer {
  margin: 0 auto;
  max-width: 1600px;
}

.sectionMargin {
  margin-bottom: 164px;
}

.subTitle {
  margin-top: 0px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  max-width: $maxContainerWidth;

  @media screen and (min-width: $breakpoint800) {
    flex-wrap: nowrap;
  }
}

.headerContent {
  margin: 50px 50px 100px;
  z-index: 1;

  @media screen and (min-width: $breakpoint800) {
    margin: 100px 50px 300px 50px;
  }

  @media screen and (min-width: $breakpoint1200) {
    margin: 100px 100px 300px 50px;
  }
}

.headerImage {
  display: none;
  position: relative;

  @media screen and (min-width: $breakpoint800) {
    display: block;
  }

  img {
    position: absolute;
    width: 650px;
    bottom: 25%;

    @media screen and (min-width: $breakpoint1200) {
      bottom: 0;
      width: 900px;
    }
  }
}

.iconList {
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: $breakpoint800) {
    flex-direction: row;
  }
}

.slug {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.sectionTitle {
  margin-bottom: 64px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  text-align: center;
  background-color: $purple;
  color: $white;

  @media screen and (min-width: $breakpoint800) {
    padding: 64px;
  }

  h2 {
    margin-bottom: 16px;
  }

  a:link,
  a:visited {
    color: $white;
  }
}

.socialsList {
  display: flex;
  margin-top: 0;
  margin-bottom: 16px;

  svg {
    width: 42px;
    height: 42px;
    fill: $white;
  }

  li {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 6px;
  }
}