@import '../../styles/variables';
@import '../../styles/mixins';

.appContainer {
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

  @media screen and (min-width: 700px) {
    flex-wrap: nowrap;
    margin-top: 120px;
  }
}
.headerContent,
.headerImage {
  flex: 1 1 100%;

  @media screen and (min-width: 700px) {
    flex: 1 1 50%;
  }
}
.headerContent {
  margin-top: 100px;
  margin-bottom: 300px;

  p {
    font-size: 18px;
    line-height: 32px;
  }
}
.headerImage {
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    width: 900px;
  }
}
.sayHi {
  @include linkPill($yellow);
}
.slug {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 1.3rem;
}