@import '../../styles/variables';
@import '../../styles/mixins';

.appContainer {
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;

  @media screen and (min-width: 700px) {
    flex-wrap: nowrap;
    // margin-top: 120px;
  }
}
.headerContent,
.headerImage {
  flex: 1 1 100%;
}
.headerContent {
  margin: 100px 50px 300px 0;

  @media screen and (min-width: 700px) {
    flex: 1 1 45%;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }
}
.headerImage {
  position: relative;

  @media screen and (min-width: 700px) {
    flex: 1 1 55%;
  }

  img {
    position: absolute;
    bottom: 0;
    width: 900px;
  }
}
.slug {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 1.3rem;
}