@import '../../styles/variables';

.sectionMargin {
  margin-bottom: 164px;
}

.subTitle {
  margin-top: 0px;
  font-weight: 600;
  color: $purple;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  max-width: $maxContainerWidth;

  @media screen and (min-width: $breakpoint800) {
    flex-wrap: nowrap;
  }
}

.headerContent {
  margin: 50px 50px 100px;
  z-index: 1;

  @media screen and (min-width: $breakpoint800) {
    margin: 100px 50px 300px 50px;
  }

  @media screen and (min-width: $breakpoint1200) {
    margin: 100px 100px 300px 50px;
  }
}

.headerImage {
  display: none;
  position: relative;

  img {
    position: absolute;
    width: 650px;
    bottom: 25%;

    @media screen and (min-width: $breakpoint1200) {
      bottom: 0;
      width: 900px;
    }
  }

  @media screen and (min-width: $breakpoint800) {
    display: block;
  }
}

.iconList {
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: $breakpoint800) {
    flex-direction: row;
  }
}

.slug {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.sectionTitle {
  margin-bottom: 64px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $breakpoint800) {
    flex-direction: row;
    align-items: stretch;
  }
}

.contactArtboard {
  position: relative;
  overflow: hidden;
}

.bgTriangle{
  position: absolute;
  left: -50px;
  width: 500px;
  height: 1000px;
  background: linear-gradient(to top left, #fff 0%, #fff 50%, #F3FBFE 50%, #F3FBFE 100%);
}

.contactForm {
  max-width: 450px;
  margin-bottom: 42px;


  @media screen and (min-width: $breakpoint800) {
    margin-right: 50px;
  }
}
