@import '../../styles/variables';
@import '../../styles/mixins';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navList {
  display: flex;
  justify-content: flex-end;
  margin: 30px 50px;
  padding-left: 0;

  li {
    margin-right: 8px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include linkPill($purple);

    &:hover {
      background: $purpleAlt;
    }
  }
}